<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExploreBojonegoro"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.navigateroute.RouteNavigateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.fragmentdetail.activity.DetailsHotelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.fragmentdetail.activity.DetailsRestoranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.activity.DetailsWisataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.profile.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".utils.permissionrequest.PermissionRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExploreBojonegoro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBm0_zF8oxKKcUiZY__ASnm6J7xb9fD6pk" />
    </application>

</manifest>